<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <h2>📊 Admin Dashboard</h2>
      <a href="/logout"><button class="btn logout">Logout</button></a>
    </div>

      <!-- MAIN -->
      <div class="main">
        <div class="stats">
          <h3>Total Members: {{ total }}</h3>
        </div>

        <div class="table-container">
          <table>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Phone</th>
              <th>WhatsApp</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Born Again</th>
              <th>Previous Attendance</th>
              <th>Heard About Our Church</th>
              <th>Preferred Contact</th>
              <th>Workforce Interest</th>
              <th>Prayer Requests</th>
              <th>Others</th>
              <th>Action</th>
            </tr>

            {% for m in members %}
            <tr>
              <td>{{ m[1] }}</td>
              <td>{{ m[2] }}</td>
              <td>{{ m[3] }}</td>
              <td>{{ m[4] }}</td>
              <td>{{ m[5] }}</td>
              <td>{{ m[6] }}</td>
              <td>{{ m[7] }}</td>
              <td>{{ m[8] }}</td>
              <td>{{ m[9] }}</td>
              <td>{{ m[10] }}</td>
              <td>{{ m[11] }}</td>
              <td>{{ m[12] }}</td>
              <td>{{ m[13] }}</td>
                <a href="/delete/{{ m[0] }}" onclick="return confirm('Are you sure you want to delete this user?')">
    <button class="btn delete">Delete</button>
</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
