<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <title>Amazing Grace Midyouth</title>
  </head>
  <body>
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="Church Logo"
      class="logo"
    />

    <h1>Amazing Grace Midyouth Evangelical ministry</h1>
    <h2>Fill this form to register</h2>
    <form action="/submit" method="post">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter your full name"
        required
      /><br/><br/>
      <input
        type="number"
        id="age"
        name="age"
        placeholder="Enter your age"
        required
      /><br/><br/>
      <input
        type="tel"
        id="phone_number"
        name="phone_number"
        pattern="[0-9]{11}"
        placeholder="Enter your phone number"
        required
      /><br/><br/>
      <input
        type="tel"
        id="whatsapp_number"
        name="whatsapp_number"
        pattern="[0-9]{11}"
        placeholder="Enter your WhatsApp number"
        required
      /><br/><br/>
      <input
        type="tel"
        id="parent_number"
        name="parent_number"
        pattern="[0-9]{11}"
        placeholder="Enter your parent's phone number"
        required
      /><br/><br/>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email (optional)"
      /><br/><br/>
      <h4>Gender</h4>
      <select name="gender" required>
        <option value="">Select gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <h4>Are you born again?</h4>
      <select name="born_again" required>
        <option value="">Select option</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>

      <h4>Have you attended this church before?</h4>
      <select name="previous_attendance" required>
        <option value="">Select option</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <h4>How did you hear about our church?</h4>
      <select name="heard_about_us" required>
        <option value="">Select option</option>
        <option value="friend">Friend</option>
        <option value="social_media">Social Media</option>
        <option value="evangelism">Evangelism</option>
        <option value="family_member">Family Member</option>
        <option value="other">Other</option>
      </select>

      <textarea
        name="heard_about_us_detail"
        placeholder="Optional: Give more details"
      ></textarea>
      <h4>Preferred means of contact</h4>
      <select name="preferred_contact" required>
        <option value="">Select option</option>
        <option value="call">Call</option>
        <option value="whatsapp">WhatsApp</option>
        <option value="sms">SMS</option>
      </select>
      <h4>Would you like to join any workforce in the church?</h4>
      <select name="workforce_interest" required>
        <option value="">Select option</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <h4>Prayer Requests</h4>
      <textarea
        name="prayer_requests"
        placeholder="Enter your prayer requests"
      ></textarea
      ><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
