<!DOCTYPE html>
<html>
<head>

     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <title>Success</title>
</head>
<body style="text-align:center; padding:50px; font-size: 30px;">

    <h1>🎉 Registration Successful!</h1>

    <p>Thank you for registering. Your information has been saved.</p>

    <a href="/">
        <button>Go Back to Form</button>
    </a>

</body>
</html>